<style type="text/css">
p {margin-left: 20px}
html {margin-left: 20px; margin-top:20px; margin-right:20px; background: white}
body {font-family: Verdana, Arial, Helvetica, sans-serif; font-size:80%;line-height:140%;margin:0px;background: #ffffff;}
table{ font-size:100% }
</style>
