
body {
  font-size: 130%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
 }

.container {
  display: flex;
  width: 400px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #f0f0f0;
}

.left {
  background-color: #ADD8E6;
  padding:  0px;
  min-width: 60px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.right{
  padding: 20px;
  font:  140%;
  width: 100%;
  border-style: solid;
  background-color: #f0f0f0;
}

.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}