body {
  font-size: 100%;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
 }

.header {
  height: 80px;
  background-color: #ADD8E6;
  width: 100%;
  margin: 0;
}
.header h2 {
  padding-top: 20px; 
  padding-left:40px; 
  margin:0px
}

.intro {
  padding-left:40px; 
  padding-bottom: 50px;
}

.problem-selector .ts-wrapper {
  width:400px;
  display: inline-block;
  margin-bottom: 20px;
}

.problem-selector .button {
  width: 50px; 
  margin-left: 4px;
  padding-top:  6px; 
  padding-bottom: 8px;  

  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-style: bold;
}

.problem-selector .button:hover {
  background-color: #2F9840;
  cursor: pointer;  
}

.problem-selector .button:disabled,
.problem-selector .button[disabled]{
  background-color: #cccccc;
  color: #666666;
  cursor: default;  
}





.problem-set {
  margin:  auto;
  width: 600px;
}

.problem-set-header {
  width:100%; 
  height:50px; 
  visibility: hidden;  
}
.problem-set-header h3 {
  display:inline-block; 
  vertical-align:center
}
.problem-set-header img {
  width:25px; 
  margin-top: 10px; 
}

.help-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.help-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  right: 0px;
  min-width: 400px;
  padding-right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}


.help-dropdown:hover .help-dropdown-content {display: block;}

.help-dropdown-content li {
  text-decoration-color: seagreen;
   margin-bottom: 15px;  
}


.problem-label {
  font-weight: bold;
}

.problem-container {
  width:  570px;
  font-size: 120%;
  border-width: 3px;
  border-radius: 15px;
  border-style: solid;
  padding-bottom: 25px;
  margin-bottom: 40px;
  padding-left: 30px;

/*  padding-right: 30px;
*/}

.container {
  display: flex;
  width: 495px;
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  background-color: #f0f0f0;
}

.left {
  background-color: #ADD8E6;
  padding:  0px;
  min-width: 60px;
  display: flex;
  align-items: center; 
  justify-content: center;
}
.right{
  padding: 20px;
  font:  140%;
  width: 100%;
  border-style: solid;
  background-color: #f0f0f0;
}

.question-statement {
  font-size: 125%;
}


.hovertext {
  position: relative;
  border-bottom: 1px dotted black;
  font-size: 80%;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 0.3s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

