* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { background: white; }

body { font-size: 110%; font-family: Lucida Grande, Lucida Sans Unicode, Helvetica Neue, Kalimati, Calibri, Helvetica, Ariel, sans-serif; margin: 0px; }

.sidenav { height: 100%; width: 200px; z-index: 10; position: fixed; top: 50px; padding-top: 15px; left: 0; overflow-x: hidden; display: block; background-color: #ccc; box-sizing: border-box; transition: 0.3s; }

.entry a { padding: 4px 8px 4px 20px; font-size: 120%; text-decoration: none; display: block; color: #4459e2; }

.entry a:hover { background-color: #8bb1ef; }

.sidenav-header { height: 55px; padding-left: 20px; font-size: 120%; font-weight: bold; line-height: 50px; }

.sidenav-header a { padding: 0; color: black; text-decoration: none; }

.sidenav-header a:visited { color: black; }

.page-header { height: 50px; background-color: #8bb1ef; font-size: 120%; font-weight: bold; line-height: 50px; padding-left: 20px; position: fixed; top: 0; left: 0; width: 100%; }

.page-header a { padding: 0; color: black; text-decoration: none; }

.page-header a:visited { color: black; }

.burger-outer { float: left; width: 30px; height: 100%; position: relative; }

.burger-button { background-color: #8bb1ef; width: 30px; height: 30px; position: absolute; top: 50%; transform: translate(0px, -50%); }

#burger-svg { display: block; margin: auto; margin-left: 0px; height: 100%; }

.main-body { -webkit-tap-highlight-color: transparent; margin-top: 50px; }

.page-content { padding-top: 1px; }

.page-content a { color: #4459e2; text-decoration: none; }

.page-content a:visited { color: #224d93; }

@media (max-width: 767px) { .sidenav { width: 0; } .sidenav.showing { width: 200px; } .hide-small { display: none !important; } .main-body { margin-left: 0px; } .page-header { padding-right: 5px; } .page-header-title { padding-left: 40px; width: 100%; } .page-content { padding-left: 20px; padding-right: 20px; } }

@media (min-width: 768px) { .hide-large { display: none !important; } .sidenav { width: 200px; } .main-body { margin-left: 200px; } .page-header { padding-right: 20px; } .page-header-title { padding-left: 5px; width: 100%; } .page-content { margin-left: 50px; margin-right: 50px; } }

pre code { background-color: #eee; border: 2px solid #999; display: block; padding: 20px; overflow-x: scroll; }

img.boxed { border: 2px solid black; overflow-x: scroll; vertical-align: bottom; display: inline-block; margin-top: 6px; margin-right: 6px; }

table.asst-table-v2 { border: 2px solid black; border-collapse: separate; border-spacing: 0; }

table.asst-table-v2 th, table.asst-table-v2 td { text-align: left; padding: 5px; }

table.asst-table-v2 th { vertical-align: bottom; padding: 5px; }

table.asst-table-v2 div.asst-title-box p { margin-bottom: 0px; }

table.asst-table-v2 div.due-box p { margin-top: 4px; }

table.asst-table-v2 td.first-col { width: 130px; }

table.asst-table-v2 td { vertical-align: top; padding-left: 5px; }

table.asst-table-v2 tr:nth-child(odd) { background-color: #e2e2e2; }

dt { float: left; width: 30px; text-align: right; font-weight: bold; }

dd { margin: 0 0 0 60px; padding: 0 0 0.5em 0; }

div.x-scroll { overflow-x: scroll; -webkit-overflow-scrolling: touch; width: 100%; white-space: nowrap; }

/* Style the buttons that are used to open and close the accordion panel */
.accordion { padding: 4px 8px 4px 20px; font-size: 120%; text-decoration: none; display: block; color: #4459e2; cursor: pointer; transition: 0.4s; }

.accordion:hover { background-color: #8bb1ef; }

/* Style the accordion panel. Note: hidden by default */
.accordion-panel { padding: 0 18px; background-color: #ccc; display: none; overflow: hidden; }

/*# sourceMappingURL=site2.css.map */